@media only screen and (max-width: 375px) {
	.ban {
    	height: 139px;
	}
	.ban h1{
		font-size: 4rem;
		padding-top: 45px !important;
	}
	
	.card{
    	margin: 0 !important;
	}

	#banTeam {
    	height: 87px;
    }

    #titreTeam {
    	padding-top: 34px !important;
    	font-size: 1.5rem;
    }

    #imageThrombi{
		width: 40%;
    }

    #banTeamScience {
    	height: 78px;
	}

	#titreTeamScience {
    padding-top: 29px !important;
    font-size: 1rem;
}

}