@media only screen and (max-width: 1690px) {
	.ban{
		height:391px;
	}

	#banTeam{
		height:384px;
	}

	#titreTeam{
		padding-top: 174px !important;
	}
	
	#banTeamScience{
		height: 358px;
	}

	#titreTeamScience{
		padding-top: 144px !important;
		font-size: 3.1rem;
	}
}

